{% extends 'bootstrap_4_layout.html.twig' %}

{% block show_hide_password_row %}
    <style>
        .showHiddenPassword-wrapper {
            position: relative;
        }
        .showHiddenPassword-wrapper .is-invalid {
            background-image: none!important;
            background-size: 0!important;
        }

        .showHiddenPassword-toggle {
            position: absolute;
            top: 50%;
            right: 1.5em;
            transform: translateY(-50%);
        }
    </style>

    <script>
        function __togglePassword__{{ form.vars.id }}() {
            const _passwordField = document.querySelector('#{{ form.vars.id }}');
            const _showHideToggle = document.querySelector('#showHideToggle-{{ form.vars.id }}');
            if (_showHideToggle.classList.contains('fa-eye-slash')) {
                _showHideToggle.classList.remove('fa-eye-slash')
                _showHideToggle.classList.add('fa-eye')
                _passwordField.type = 'text'
            } else {
                _showHideToggle.classList.remove('fa-eye')
                _showHideToggle.classList.add('fa-eye-slash')
                _passwordField.type = 'password'
            }
        }
    </script>

    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help", 'class': 'showHiddenPassword-widget'}} -%} {#  class 追加  #}
    {%- endif -%}
    <{{ element|default('div') }}{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' form-group')|trim})} %}{{ block('attributes') }}{% endwith %}>
    {{- form_label(form) -}}

    {#  ウィジェット拡張  #}
    <div class='showHiddenPassword-wrapper'>
        {{- form_widget(form, widget_attr) -}}
        <span class='showHiddenPassword-toggle'
              onclick='__togglePassword__{{ form.vars.id }}()'
        >
            <i id='showHideToggle-{{ form.vars.id }}' class="fa fa-eye-slash"></i>
        </span>
    </div>

    {{- form_help(form) -}}
    </{{ element|default('div') }}>
{% endblock %}
